<!DOCTYPE html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>당당마켓</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
  <link rel="stylesheet" href="../static/dangdangStyle.css">
 </head>
 <body>
   <ul class="p_list">
    <li>
     <img src="../static/prod1.jpg" alt="장난감 블록">
     <div class="info">
      <strong>장난감 블록</strong><br />
      <small>성수동</small><br />
      <strong>20,000원</strong>
     </div>
    </li>
    <li>

    </li>
    <li>

    </li>
    <li>

    </li>
   </ul>
  
 </body>
</html>