:root {
    /* Color */
    --white-color: #fff;
    --black-color: #000;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

section.info {
    padding: var(--padding);
}

section.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

section.info .metadata .hashtags li {
    margin-right: var(--padding);
    
}

section.info .metadata .titleAndButton {
    display: flex;
}

section.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    margin-right: var(--padding);
}

section.info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

section.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

section.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

section.info .metadata .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

ul.actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

ul.actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

ul.actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

ul.actions button i.active {
    color: var(--blue-color);
}

div.channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

div.channel .metadata {
    display: flex;  
    align-items: center;  
}

div.channel .metadata .info {
    display: flex;
    flex-direction: column;
}

div.channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

div.channel .metadata .info .name {
    font-size: var(--font-medium);
}

div.channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

div.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

section.Up-Next {
    padding: 0 var(--padding);
}

section.Up-Next > .title {
   font-size: var(--font-medium);
   color: var(--grey-dark-color);
   margin-bottom: calc(var(--padding) / 2);
}

section.Up-Next .item {
    display: flex;
    margin-top: var(--padding);
}

section.Up-Next .item .img{
    flex: 1 1 35%;
    margin-right: var(--padding);
}

section.Up-Next .item .img img {
    width: 100%;
}

section.Up-Next .item .info {
    flex: 1 1 60%;
}

section.Up-Next .item .moreButton {
    flex: 1 1 5%;
}

section.Up-Next .item .info {
    display: flex;
    flex-direction: column;
}

section.Up-Next .item .info .title {
    font-size: var(--font-medium);    
}

section.Up-Next .item .info .channelName {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

section.Up-Next .item .info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

section.Up-Next .item .moreButton {
    height: 100%;
}

.infoAndUp {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUp {
        flex-direction: row;
        margin: var(--padding) 0;
    }
}